# Baltimore Crime - Data Cleaning

###  Import Packages

In [1]:
import pandas as pd
import numpy as np
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

### Import Data

In [2]:
#Import the data - Crime Date has been changed in the R File 
baltimore = pd.read_csv("Baltimore_partiallycleaned.csv")

/home/csimmons1/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
baltimore.head()

,month,year,day,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside.Outside,Weapon,...,vri_name1,Total.Incidents,STATION,NAME,DATE,PRCP,SNOW,SNWD,TAVG,Baltimore.City.Unemployment.Percent
0,1,2015,10,01/10/2015,13:35:00,6C,1000 W 41ST ST,LARCENY,I,NaN,...,NaN,1,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",0015-01-10,0.0,0.0,0.0,21,8.7
1,1,2015,10,01/10/2015,21:30:00,7A,1700 N DUKELAND ST,AUTO THEFT,O,NaN,...,NaN,1,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",0015-01-10,0.0,0.0,0.0,21,8.7
2,1,2015,10,01/10/2015,22:49:00,4C,2600 DENISON ST,AGG. ASSAULT,O,OTHER,...,NaN,1,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",0015-01-10,0.0,0.0,0.0,21,8.7
3,1,2015,10,01/10/2015,10:12:00,4E,0 N HOWARD ST,COMMON ASSAULT,I,NaN,...,NaN,1,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",0015-01-10,0.0,0.0,0.0,21,8.7
4,1,2015,10,01/10/2015,19:00:00,5D,4400 BELAIR RD,BURGLARY,I,NaN,...,NaN,1,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",0015-01-10,0.0,0.0,0.0,21,8.7

In [4]:
baltimore.dtypes

month                                    int64
year                                     int64
day                                      int64
CrimeDate                               object
CrimeTime                               object
CrimeCode                               object
Location                                object
Description                             object
Inside.Outside                          object
Weapon                                  object
Post                                    object
District                                object
Neighborhood                            object
Longitude                              float64
Latitude                               float64
Location.1                             float64
Premise                                 object
vri_name1                               object
Total.Incidents                          int64
STATION                                 object
NAME                                    object
DATE                                    object
PRCP                                   float64
SNOW                                   float64
SNWD                                   float64
TAVG                                     int64
Baltimore.City.Unemployment.Percent    float64
dtype: object

In [5]:
baltimore.columns
baltimore = baltimore.drop(columns=['Location.1','Total.Incidents', 'vri_name1', 'Total.Incidents','STATION', 'NAME', 'DATE'])

### Check Shape and Duplicates

In [6]:
baltimore.columns

Index(['month', 'year', 'day', 'CrimeDate', 'CrimeTime', 'CrimeCode',
       'Location', 'Description', 'Inside.Outside', 'Weapon', 'Post',
       'District', 'Neighborhood', 'Longitude', 'Latitude', 'Premise', 'PRCP',
       'SNOW', 'SNWD', 'TAVG', 'Baltimore.City.Unemployment.Percent'],
      dtype='object')

In [7]:
baltimore.head(1)

,month,year,day,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside.Outside,Weapon,...,District,Neighborhood,Longitude,Latitude,Premise,PRCP,SNOW,SNWD,TAVG,Baltimore.City.Unemployment.Percent
0,1,2015,10,01/10/2015,13:35:00,6C,1000 W 41ST ST,LARCENY,I,NaN,...,NORTHERN,HOES HEIGHTS,-76.634502,39.337545,DRUG STORE / MED BL,0.0,0.0,0.0,21,8.7

In [8]:
baltimore.shape

(243450, 21)

In [9]:
#Check for duplicates
baltimore[baltimore.duplicated()].shape

(9670, 21)

### Cardinality and NA Values per Column

In [10]:
def cardinality_categorical(df):
    n_records = len(df)
    for column in df.select_dtypes([object]):
        print("{} | uniques/records: {:.3f} | Minimum observations: {:.3f}".format(
            column, 
            len(df[column].unique())/n_records,
            df[column].value_counts().min()
        ))        

cardinality_categorical(baltimore)

CrimeDate | uniques/records: 0.008 | Minimum observations: 32.000
CrimeTime | uniques/records: 0.006 | Minimum observations: 1.000
CrimeCode | uniques/records: 0.000 | Minimum observations: 2.000
Location | uniques/records: 0.096 | Minimum observations: 1.000
Description | uniques/records: 0.000 | Minimum observations: 1053.000
Inside.Outside | uniques/records: 0.000 | Minimum observations: 549.000
Weapon | uniques/records: 0.000 | Minimum observations: 1053.000
Post | uniques/records: 0.001 | Minimum observations: 1.000
District | uniques/records: 0.000 | Minimum observations: 197.000
Neighborhood | uniques/records: 0.001 | Minimum observations: 1.000
Premise | uniques/records: 0.001 | Minimum observations: 2.000

In [11]:
n_records = len(baltimore)
def missing_values_df(df):
    for column in df:
        print("{} | {} | {}".format(
            column, len(df[df[column].isnull()]) / (1.0*n_records), df[column].dtype
        ))

missing_values_df(baltimore)

month | 0.0 | int64
year | 0.0 | int64
day | 0.0 | int64
CrimeDate | 0.0 | object
CrimeTime | 8.62600123228589e-05 | object
CrimeCode | 0.0 | object
Location | 0.0049086054631341134 | object
Description | 0.0 | object
Inside.Outside | 0.13164920928322038 | object
Weapon | 0.7829287327993428 | object
Post | 0.008186485931402752 | object
District | 0.0 | object
Neighborhood | 0.03788868350790717 | object
Longitude | 0.005278291230232081 | float64
Latitude | 0.005278291230232081 | float64
Premise | 0.13226535222838365 | object
PRCP | 0.0 | float64
SNOW | 0.0 | float64
SNWD | 0.0 | float64
TAVG | 0.0 | int64
Baltimore.City.Unemployment.Percent | 0.0 | float64

In [12]:
from scipy import stats
import numpy as np

def outliers_col(df):
    for column in df:
        if df[column].dtype != np.object:
            n_outliers = len(df[(np.abs(stats.zscore(df[column])) > 3)& \
                  (df[column].notnull())
                 ])
            print("{} | {} | {}".format(
                df[column].name,
                n_outliers,
                df[column].dtype
        ))

outliers_col(baltimore)

month | 0 | int64
year | 0 | int64
day | 0 | int64
Longitude | 0 | float64
Latitude | 0 | float64
PRCP | 5623 | float64
SNOW | 2055 | float64
SNWD | 1839 | float64
TAVG | 0 | int64
Baltimore.City.Unemployment.Percent | 0 | float64

/home/csimmons1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in greater
  import sys

In [13]:
baltimore.Description.unique()

array(['LARCENY', 'AUTO THEFT', 'AGG. ASSAULT', 'COMMON ASSAULT',
       'BURGLARY', 'ROBBERY - RESIDENCE', 'ROBBERY - STREET', 'ARSON',
       'LARCENY FROM AUTO', 'ROBBERY - COMMERCIAL', 'HOMICIDE', 'RAPE',
       'SHOOTING', 'ROBBERY - CARJACKING'], dtype=object)

## Variable Grouping

### Variables for Crime Descriptions - Violent and Theft

In [14]:
VIOLENT1 = [ 'SHOOTING', 'COMMON ASSAULT', 'AGG. ASSAULT', 'HOMICIDE', 'RAPE']

baltimore['Violent'] = 0
baltimore.loc[baltimore['Description'].isin(VIOLENT1), 
             'Violent'] = 1

In [15]:
THEFT1 = ['LARCENY', 'ROBBERY - STREET', 'BURGLARY', 'ROBBERY - RESIDENCE',
       'ROBBERY - CARJACKING', 'LARCENY FROM AUTO', 'AUTO THEFT',
       'ROBBERY - COMMERCIAL', 'ARSON']

baltimore['Theft'] = 0
baltimore.loc[baltimore['Description'].isin(THEFT1), 'Theft'] = 1

In [16]:
baltimore.head(5)

,month,year,day,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside.Outside,Weapon,...,Longitude,Latitude,Premise,PRCP,SNOW,SNWD,TAVG,Baltimore.City.Unemployment.Percent,Violent,Theft
0,1,2015,10,01/10/2015,13:35:00,6C,1000 W 41ST ST,LARCENY,I,NaN,...,-76.634502,39.337545,DRUG STORE / MED BL,0.0,0.0,0.0,21,8.7,0,1
1,1,2015,10,01/10/2015,21:30:00,7A,1700 N DUKELAND ST,AUTO THEFT,O,NaN,...,-76.663536,39.307651,STREET,0.0,0.0,0.0,21,8.7,0,1
2,1,2015,10,01/10/2015,22:49:00,4C,2600 DENISON ST,AGG. ASSAULT,O,OTHER,...,-76.674611,39.316329,STREET,0.0,0.0,0.0,21,8.7,1,0
3,1,2015,10,01/10/2015,10:12:00,4E,0 N HOWARD ST,COMMON ASSAULT,I,NaN,...,-76.619418,39.290051,RESTAURANT,0.0,0.0,0.0,21,8.7,1,0
4,1,2015,10,01/10/2015,19:00:00,5D,4400 BELAIR RD,BURGLARY,I,NaN,...,-76.562951,39.330025,OTHER - INSIDE,0.0,0.0,0.0,21,8.7,0,1

### Change Crime Description

In [17]:
baltimore = baltimore.replace({'AGG. ASSAULT': 'ASSAULT'})
baltimore = baltimore.replace({'COMMON ASSAULT': 'ASSAULT'})

baltimore = baltimore.replace({'ROBBERY - STREET': 'ROBBERY'})
baltimore = baltimore.replace({'ROBBERY - RESIDENCE': 'ROBBERY'})
baltimore = baltimore.replace({'ROBBERY - CARJACKING': 'ROBBERY'})
baltimore = baltimore.replace({'ROBBERY - COMMERCIAL': 'ROBBERY'})

baltimore = baltimore.replace({'LARCENY FROM AUTO': 'LARCENY'})

In [18]:
baltimore.head()

,month,year,day,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside.Outside,Weapon,...,Longitude,Latitude,Premise,PRCP,SNOW,SNWD,TAVG,Baltimore.City.Unemployment.Percent,Violent,Theft
0,1,2015,10,01/10/2015,13:35:00,6C,1000 W 41ST ST,LARCENY,I,NaN,...,-76.634502,39.337545,DRUG STORE / MED BL,0.0,0.0,0.0,21,8.7,0,1
1,1,2015,10,01/10/2015,21:30:00,7A,1700 N DUKELAND ST,AUTO THEFT,O,NaN,...,-76.663536,39.307651,STREET,0.0,0.0,0.0,21,8.7,0,1
2,1,2015,10,01/10/2015,22:49:00,4C,2600 DENISON ST,ASSAULT,O,OTHER,...,-76.674611,39.316329,STREET,0.0,0.0,0.0,21,8.7,1,0
3,1,2015,10,01/10/2015,10:12:00,4E,0 N HOWARD ST,ASSAULT,I,NaN,...,-76.619418,39.290051,RESTAURANT,0.0,0.0,0.0,21,8.7,1,0
4,1,2015,10,01/10/2015,19:00:00,5D,4400 BELAIR RD,BURGLARY,I,NaN,...,-76.562951,39.330025,OTHER - INSIDE,0.0,0.0,0.0,21,8.7,0,1

### Dummy Code for Description

In [19]:
baltimore.Description.unique()

array(['LARCENY', 'AUTO THEFT', 'ASSAULT', 'BURGLARY', 'ROBBERY', 'ARSON',
       'HOMICIDE', 'RAPE', 'SHOOTING'], dtype=object)

In [20]:
baltimore['CrimeType'] = "NaN"
baltimore.loc[baltimore['Description'].isin(['LARCENY']), 
             'CrimeType'] = 0
baltimore.loc[baltimore['Description'].isin(['ROBBERY']), 
             'CrimeType'] = 1
baltimore.loc[baltimore['Description'].isin(['BURGLARY']), 
             'CrimeType'] = 2
baltimore.loc[baltimore['Description'].isin(['SHOOTING']), 
             'CrimeType'] = 3
baltimore.loc[baltimore['Description'].isin(['ASSAULT']), 
             'CrimeType'] = 4
baltimore.loc[baltimore['Description'].isin(['AUTO THEFT']), 
             'CrimeType'] = 5
baltimore.loc[baltimore['Description'].isin(['HOMICIDE']), 
             'CrimeType'] = 6
baltimore.loc[baltimore['Description'].isin(['RAPE']), 
             'CrimeType'] = 7
baltimore.loc[baltimore['Description'].isin(['ARSON']), 
             'CrimeType'] = 8

In [21]:
baltimore.head(20)

,month,year,day,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside.Outside,Weapon,...,Latitude,Premise,PRCP,SNOW,SNWD,TAVG,Baltimore.City.Unemployment.Percent,Violent,Theft,CrimeType
0,1,2015,10,01/10/2015,13:35:00,6C,1000 W 41ST ST,LARCENY,I,NaN,...,39.337545,DRUG STORE / MED BL,0.0,0.0,0.0,21,8.7,0,1,0
1,1,2015,10,01/10/2015,21:30:00,7A,1700 N DUKELAND ST,AUTO THEFT,O,NaN,...,39.307651,STREET,0.0,0.0,0.0,21,8.7,0,1,5
2,1,2015,10,01/10/2015,22:49:00,4C,2600 DENISON ST,ASSAULT,O,OTHER,...,39.316329,STREET,0.0,0.0,0.0,21,8.7,1,0,4
3,1,2015,10,01/10/2015,10:12:00,4E,0 N HOWARD ST,ASSAULT,I,NaN,...,39.290051,RESTAURANT,0.0,0.0,0.0,21,8.7,1,0,4
4,1,2015,10,01/10/2015,19:00:00,5D,4400 BELAIR RD,BURGLARY,I,NaN,...,39.330025,OTHER - INSIDE,0.0,0.0,0.0,21,8.7,0,1,2
5,1,2015,10,01/10/2015,14:10:00,4A,5700 BELAIR RD,ASSAULT,O,FIREARM,...,39.343618,OTHER - OUTSIDE,0.0,0.0,0.0,21,8.7,1,0,4
6,1,2015,10,01/10/2015,14:15:00,6C,900 WATSON ST,LARCENY,I,NaN,...,39.289759,DEPARTMENT STORE,0.0,0.0,0.0,21,8.7,0,1,0
7,1,2015,10,01/10/2015,10:30:00,7A,2500 GUILFORD AV,AUTO THEFT,O,NaN,...,39.318047,STREET,0.0,0.0,0.0,21,8.7,0,1,5
8,1,2015,10,01/10/2015,9:54:00,5B,3800 WABASH AV,BURGLARY,I,NaN,...,39.327783,APT/CONDO - OCCUPIED,0.0,0.0,0.0,21,8.7,0,1,2
9,1,2015,10,01/10/2015,18:00:00,7A,6100 REISTERSTOWN RD,AUTO THEFT,O,NaN,...,39.353331,OTHER - OUTSIDE,0.0,0.0,0.0,21,8.7,0,1,5
10,1,2015,1,01/01/2015,0:01:00,6J,1100 GORSUCH AVE,LARCENY,I,NaN,...,39.325264,RELIGIOUS INSTITUTI,0.0,0.0,0.0,29,8.7,0,1,0
11,1,2015,1,01/01/2015,3:20:00,4A,1500 E COLD SPRING LA,ASSAULT,I,FIREARM,...,39.345902,OTHER - INSIDE,0.0,0.0,0.0,29,8.7,1,0,4
12,1,2015,1,01/01/2015,10:54:00,3K,400 WATTY CT,ROBBERY,I,NaN,...,39.301389,ROW/TOWNHOUSE-OCC,0.0,0.0,0.0,29,8.7,0,1,1
13,1,2015,1,01/01/2015,1:01:00,5A,4400 FREDERICK AVE,BURGLARY,I,NaN,...,39.281648,ROW/TOWNHOUSE-OCC,0.0,0.0,0.0,29,8.7,0,1,2
14,1,2015,1,01/01/2015,1:01:00,5A,3100 ELLERSLIE AVE,BURGLARY,I,NaN,...,39.325479,ROW/TOWNHOUSE-OCC,0.0,0.0,0.0,29,8.7,0,1,2
15,1,2015,1,01/01/2015,0:01:00,6E,1300 E CHASE ST,LARCENY,O,NaN,...,39.303070,STREET,0.0,0.0,0.0,29,8.7,0,1,0
16,1,2015,1,01/01/2015,23:00:00,6J,1000 PARKSLEY AV,LARCENY,O,NaN,...,39.273573,STREET,0.0,0.0,0.0,29,8.7,0,1,0
17,1,2015,1,01/01/2015,20:15:00,5B,0 N EAST AV,BURGLARY,I,NaN,...,39.293094,ROW/TOWNHOUSE-OCC,0.0,0.0,0.0,29,8.7,0,1,2
18,1,2015,1,01/01/2015,19:26:00,4E,800 W LEXINGTON ST,ASSAULT,I,NaN,...,39.291003,ROW/TOWNHOUSE-OCC,0.0,0.0,0.0,29,8.7,1,0,4
19,1,2015,1,01/01/2015,2:15:00,4C,1600 CYPRESS ST,ASSAULT,O,OTHER,...,39.223816,STREET,0.0,0.0,0.0,29,8.7,1,0,4

### Variable for Time - Daypart

In [22]:
baltimore["Hour"]= baltimore["CrimeTime"].astype(str).str[:2].str.replace(r':', '')

In [23]:
# delete all rows for which column 'na' is in for 'HOUR'
baltimore['Hour'].astype(str)

indexNames = baltimore[ baltimore['Hour'] == 'na' ].index
baltimore = baltimore.drop(indexNames,inplace=False)
baltimore['Hour'].value_counts()
# convert hour into type 'int' to do comparison
baltimore['Hour'] = baltimore['Hour'].astype(int)

In [24]:
# Assigned times into different parts of the day and created a variable called 'DAYPART'
def daypart(time):
    if ((time >= 0) and (time <=6)):
        return 'Dawn'
    elif ((time > 6) and (time <= 9)):
        return 'Early morning'
    elif ((time > 9) and (time <=12)):
        return 'Morning/Noon'
    elif ((time > 12) and (time <=17)):
        return 'Afternoon'
    elif ((time > 17) and (time <=21)):
        return 'Evening'
    elif ((time > 21) and (time <=23)):
        return 'Night'

baltimore['DayPart'] = baltimore['Hour'].apply(daypart)

In [25]:
baltimore.head()

,month,year,day,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside.Outside,Weapon,...,PRCP,SNOW,SNWD,TAVG,Baltimore.City.Unemployment.Percent,Violent,Theft,CrimeType,Hour,DayPart
0,1,2015,10,01/10/2015,13:35:00,6C,1000 W 41ST ST,LARCENY,I,NaN,...,0.0,0.0,0.0,21,8.7,0,1,0,13,Afternoon
1,1,2015,10,01/10/2015,21:30:00,7A,1700 N DUKELAND ST,AUTO THEFT,O,NaN,...,0.0,0.0,0.0,21,8.7,0,1,5,21,Evening
2,1,2015,10,01/10/2015,22:49:00,4C,2600 DENISON ST,ASSAULT,O,OTHER,...,0.0,0.0,0.0,21,8.7,1,0,4,22,Night
3,1,2015,10,01/10/2015,10:12:00,4E,0 N HOWARD ST,ASSAULT,I,NaN,...,0.0,0.0,0.0,21,8.7,1,0,4,10,Morning/Noon
4,1,2015,10,01/10/2015,19:00:00,5D,4400 BELAIR RD,BURGLARY,I,NaN,...,0.0,0.0,0.0,21,8.7,0,1,2,19,Evening

### Change Observations for Inside/Outside

In [26]:
# Change Inside.Outside values to match
baltimore = baltimore.replace({'I': 'Inside'})
baltimore = baltimore.replace({'O': 'Outside'})

In [27]:
baltimore.head()

,month,year,day,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside.Outside,Weapon,...,PRCP,SNOW,SNWD,TAVG,Baltimore.City.Unemployment.Percent,Violent,Theft,CrimeType,Hour,DayPart
0,1,2015,10,01/10/2015,13:35:00,6C,1000 W 41ST ST,LARCENY,Inside,NaN,...,0.0,0.0,0.0,21,8.7,0,1,0,13,Afternoon
1,1,2015,10,01/10/2015,21:30:00,7A,1700 N DUKELAND ST,AUTO THEFT,Outside,NaN,...,0.0,0.0,0.0,21,8.7,0,1,5,21,Evening
2,1,2015,10,01/10/2015,22:49:00,4C,2600 DENISON ST,ASSAULT,Outside,OTHER,...,0.0,0.0,0.0,21,8.7,1,0,4,22,Night
3,1,2015,10,01/10/2015,10:12:00,4E,0 N HOWARD ST,ASSAULT,Inside,NaN,...,0.0,0.0,0.0,21,8.7,1,0,4,10,Morning/Noon
4,1,2015,10,01/10/2015,19:00:00,5D,4400 BELAIR RD,BURGLARY,Inside,NaN,...,0.0,0.0,0.0,21,8.7,0,1,2,19,Evening

### Deal with 04/27/2015 which has 421 Crimes

In [28]:
April27th = baltimore[baltimore.CrimeDate == "04/27/2015"]
April27th.Location.value_counts().head(10)

2400 LIBERTY HEIGHTS AVE    57
1500 N FULTON AVE           10
1600 W NORTH AVE             8
2400 E MONUMENT ST           6
3200 GREENMOUNT AVE          5
200 MCMECHEN ST              5
1500 W NORTH AVE             4
4600 REISTERSTOWN RD         4
2100 W NORTH AVE             3
2500 REISTERSTOWN RD         3
Name: Location, dtype: int64

This is the day of the baltimore riots, as as such is not a fluke. This date has 421 total crimes (noteably 101 assaults and 210 burglaries), which is miles above the next top total crimes per day, which is 255 on 06/05/2016. Most of these arrests occured at 2400 LIBERTY HEIGHTS AVE, which is close to the Mondawmin Mall (see link). 

Link to map of police and protestor clashes during the riots: 
https://www.nytimes.com/interactive/2015/04/24/us/freddie-gray-and-the-baltimore-police-department-timeline.html

In [29]:
June5th = baltimore[baltimore.CrimeDate == "06/05/2016"]
June5th.Location.value_counts().head(10)

1000 W PATAPSCO AVE     130
200 N WASHINGTON ST       2
800 N KENWOOD AVE         2
1300 N CAREY ST           2
500 N DECKER AVE          2
5600 LOCH RAVEN BLVD      2
3000 JEFFERSON ST         2
500 N CARROLLTON AVE      1
5900 DAYWALT AVE          1
2200 CREST RD             1
Name: Location, dtype: int64

In [30]:
June5th[June5th.Location == "1000 W PATAPSCO AVE"]

,month,year,day,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside.Outside,Weapon,...,PRCP,SNOW,SNWD,TAVG,Baltimore.City.Unemployment.Percent,Violent,Theft,CrimeType,Hour,DayPart
163321,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163322,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163323,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163324,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163325,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163328,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163329,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163339,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163345,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163346,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163347,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163348,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163349,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163350,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163351,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163352,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163353,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163358,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163359,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163360,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163361,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163362,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163363,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163364,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163365,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163366,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163367,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163368,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163369,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163370,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163489,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163495,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163496,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163497,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163498,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163516,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163517,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163518,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163519,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163520,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163521,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163522,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163524,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163525,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163526,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163527,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163528,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163529,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163530,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163531,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163539,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163540,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163541,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163542,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163543,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163544,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163545,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163564,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163565,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn
163573,6,2016,5,06/05/2016,2:38:00,5D,1000 W PATAPSCO AVE,BURGLARY,Inside,NaN,...,0.33,0.0,0.0,75,6.8,0,1,2,2,Dawn

In [31]:
# Select duplicate rows based on all columns
duplicateRowsDF = baltimore[baltimore.duplicated()]

In [32]:
duplicateRowsDF_total = duplicateRowsDF.CrimeDate.value_counts(sort=False)
duplicateRowsDF_total = duplicateRowsDF_total.rename_axis('CrimeDate').reset_index(name='TotalCrime')
duplicateRowsDF_total
duplicateRowsDF_total[duplicateRowsDF_total.TotalCrime >=10]

       CrimeDate  TotalCrime
6     06/19/2017          10
13    05/05/2016          12
17    05/25/2015          15
20    09/22/2016          12
22    04/16/2017          16
35    01/01/2019          12
41    05/13/2017          10
53    04/17/2018          10
69    05/15/2018          12
83    03/30/2018          10
90    01/20/2018          10
91    07/15/2015          15
101   06/23/2017          11
102   07/02/2015          13
113   03/10/2016          14
114   01/05/2016          14
117   12/14/2015          11
119   09/06/2016          12
120   08/08/2019          10
121   08/24/2019          12
123   05/15/2019          10
126   05/03/2019          13
131   07/11/2016          10
139   12/02/2018          10
143   08/14/2017          11
144   10/27/2015          10
156   12/11/2015          10
157   04/06/2016          15
166   12/11/2016          15
170   08/05/2017          10
...          ...         ...
1516  07/15/2018          10
1521  05/25/2019          12
1529  06/22/2019          16
1536  07/07/2018          10
1541  12/18/2018          21
1560  06/30/2017          10
1563  08/12/2019          12
1565  10/25/2016          10
1581  05/06/2016          12
1592  08/28/2016          13
1595  10/20/2015          14
1604  11/14/2019          18
1605  01/25/2017          13
1630  04/15/2017          12
1633  09/15/2017          10
1635  08/27/2017          15
1641  07/25/2019          17
1642  05/16/2015          11
1648  08/11/2018          23
1678  03/13/2018          11
1703  11/17/2018          10
1709  11/12/2019          10
1719  07/27/2018          11
1721  08/13/2017          12
1726  11/26/2017          15
1731  07/05/2019          12
1747  05/26/2015          11
1751  10/26/2015          12
1765  11/25/2016          10
1767  04/25/2015          21

[208 rows x 2 columns]

In [33]:
BPD = baltimore
BPD.columns

Index(['month', 'year', 'day', 'CrimeDate', 'CrimeTime', 'CrimeCode',
       'Location', 'Description', 'Inside.Outside', 'Weapon', 'Post',
       'District', 'Neighborhood', 'Longitude', 'Latitude', 'Premise', 'PRCP',
       'SNOW', 'SNWD', 'TAVG', 'Baltimore.City.Unemployment.Percent',
       'Violent', 'Theft', 'CrimeType', 'Hour', 'DayPart'],
      dtype='object')

In [34]:
BPD = BPD.rename(columns={"month": "Month", "year": "Year", "year": "Year", "day": "Day",
                          "Inside.Outside": "Inside", "PRCP": "Precipitation" , "SNOW": "Snow", "TAVG": "Tavg",
                         "SNWD": "SnowDepth", "Baltimore.City.Unemployment.Percent": "Unemployment", "Theft": "Nonviolent"})

In [35]:
BPD.head(3)

,Month,Year,Day,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside,Weapon,...,Precipitation,Snow,SnowDepth,Tavg,Unemployment,Violent,Nonviolent,CrimeType,Hour,DayPart
0,1,2015,10,01/10/2015,13:35:00,6C,1000 W 41ST ST,LARCENY,Inside,NaN,...,0.0,0.0,0.0,21,8.7,0,1,0,13,Afternoon
1,1,2015,10,01/10/2015,21:30:00,7A,1700 N DUKELAND ST,AUTO THEFT,Outside,NaN,...,0.0,0.0,0.0,21,8.7,0,1,5,21,Evening
2,1,2015,10,01/10/2015,22:49:00,4C,2600 DENISON ST,ASSAULT,Outside,OTHER,...,0.0,0.0,0.0,21,8.7,1,0,4,22,Night

In [36]:
BPD = BPD.sort_values(by=['Year', 'Month', 'Day'])
BPD.tail()

,Month,Year,Day,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside,Weapon,...,Precipitation,Snow,SnowDepth,Tavg,Unemployment,Violent,Nonviolent,CrimeType,Hour,DayPart
80509,12,2019,31,12/31/2019,15:30:00,4D,3600 COTTAGE AVE,ASSAULT,Inside,HANDS,...,0.0,0.0,0.0,46,4.2,1,0,4,15,Afternoon
80510,12,2019,31,12/31/2019,9:17:00,4D,4100 PATTERSON AVE,ASSAULT,Outside,HANDS,...,0.0,0.0,0.0,46,4.2,1,0,4,9,Early morning
80511,12,2019,31,12/31/2019,12:30:00,6G,6600 REISTERSTOWN RD,LARCENY,Inside,NaN,...,0.0,0.0,0.0,46,4.2,0,1,0,12,Morning/Noon
80512,12,2019,31,12/31/2019,11:22:00,6G,2800 LAKE AVE,LARCENY,NaN,NaN,...,0.0,0.0,0.0,46,4.2,0,1,0,11,Morning/Noon
80513,12,2019,31,12/31/2019,23:45:00,4C,900 SAINT DUNSTANS RD,ASSAULT,NaN,OTHER,...,0.0,0.0,0.0,46,4.2,1,0,4,23,Night

In [37]:
export_csv = BPD.to_csv(r'baltimore_cleaned.csv', index = None, header=True)

### Sort Values

In [38]:
baltimore = baltimore.sort_values(by=['year', 'month', 'day'])

# Make Date Dataframe  
## With Added Weather And Unemployment Data

In [39]:
date = baltimore 

date['LARCENY'] = 0
date.loc[date['Description'].isin(['LARCENY']), 'LARCENY'] = 1

date['ROBBERY'] = 0
date.loc[date['Description'].isin(['ROBBERY']), 'ROBBERY'] = 1

date['ASSAULT'] = 0
date.loc[date['Description'].isin(['ASSAULT']), 'ASSAULT'] = 1

date['BURGLARY'] = 0
date.loc[date['Description'].isin(['BURGLARY']), 'BURGLARY'] = 1

date['SHOOTING'] = 0
date.loc[date['Description'].isin(['SHOOTING']), 'SHOOTING'] = 1

date['AUTO THEFT'] = 0
date.loc[date['Description'].isin(['AUTO THEFT']), 'AUTO THEFT'] = 1

date['HOMICIDE'] = 0
date.loc[date['Description'].isin(['HOMICIDE']), 'HOMICIDE'] = 1

date['RAPE'] = 0
date.loc[date['Description'].isin(['RAPE']), 'RAPE'] = 1

date['ARSON'] = 0
date.loc[date['Description'].isin(['ARSON']), 'ARSON'] = 1

In [40]:
date['Dawn'] = 0
date.loc[date['DayPart'].isin(['Dawn']), 'Dawn'] = 1

date['Early morning'] = 0
date.loc[date['DayPart'].isin(['Early morning']), 'Early morning'] = 1

date['Morning/Noon'] = 0
date.loc[date['DayPart'].isin(['Morning/Noon']), 'Morning/Noon'] = 1

date['Afternoon'] = 0
date.loc[date['DayPart'].isin(['Afternoon']), 'Afternoon'] = 1

date['Evening'] = 0
date.loc[date['DayPart'].isin(['Evening']), 'Evening'] = 1

date['Dawn'] = 0
date.loc[date['DayPart'].isin(['Night']), 'Night'] = 1

In [41]:
date.DayPart.unique()

array(['Dawn', 'Morning/Noon', 'Night', 'Evening', 'Early morning',
       'Afternoon'], dtype=object)

In [42]:
date.head()

,month,year,day,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside.Outside,Weapon,...,AUTO THEFT,HOMICIDE,RAPE,ARSON,Dawn,Early morning,Morning/Noon,Afternoon,Evening,Night
10,1,2015,1,01/01/2015,0:01:00,6J,1100 GORSUCH AVE,LARCENY,Inside,NaN,...,0,0,0,0,0,0,0,0,0,NaN
11,1,2015,1,01/01/2015,3:20:00,4A,1500 E COLD SPRING LA,ASSAULT,Inside,FIREARM,...,0,0,0,0,0,0,0,0,0,NaN
12,1,2015,1,01/01/2015,10:54:00,3K,400 WATTY CT,ROBBERY,Inside,NaN,...,0,0,0,0,0,0,1,0,0,NaN
13,1,2015,1,01/01/2015,1:01:00,5A,4400 FREDERICK AVE,BURGLARY,Inside,NaN,...,0,0,0,0,0,0,0,0,0,NaN
14,1,2015,1,01/01/2015,1:01:00,5A,3100 ELLERSLIE AVE,BURGLARY,Inside,NaN,...,0,0,0,0,0,0,0,0,0,NaN

In [43]:
date_total = date.CrimeDate.value_counts(sort=False)
date_total.head()

03/09/2016    102
01/24/2015    123
01/20/2017    205
08/09/2018    152
09/29/2018    141
Name: CrimeDate, dtype: int64

In [44]:
date_total = date_total.rename_axis('CrimeDate').reset_index(name='TotalCrime')
date_total

       CrimeDate  TotalCrime
0     03/09/2016         102
1     01/24/2015         123
2     01/20/2017         205
3     08/09/2018         152
4     09/29/2018         141
5     03/08/2017         134
6     10/26/2017         143
7     07/24/2019         153
8     04/23/2017         152
9     06/15/2017         141
10    11/02/2016         156
11    03/15/2019         114
12    07/31/2016         128
13    03/12/2017          91
14    07/22/2019         166
15    05/10/2017         138
16    03/17/2015         144
17    06/04/2016         152
18    10/30/2018         138
19    07/23/2016         110
20    12/11/2015         151
21    03/20/2018         102
22    04/15/2015         133
23    06/20/2016         186
24    06/26/2017         171
25    09/23/2017         171
26    09/24/2016         188
27    04/10/2018         121
28    03/18/2016         122
29    10/16/2016         143
...          ...         ...
1796  02/21/2019         129
1797  07/24/2015         154
1798  02/22/2016         110
1799  01/23/2019         113
1800  02/08/2019         141
1801  12/14/2018         140
1802  02/27/2017         116
1803  11/23/2019          99
1804  07/26/2016         138
1805  03/31/2018         119
1806  03/07/2015          83
1807  01/06/2015          87
1808  04/12/2019         129
1809  09/07/2017         130
1810  09/04/2015         139
1811  03/08/2016         112
1812  08/04/2016         130
1813  07/03/2016         138
1814  11/14/2019         134
1815  12/10/2015         155
1816  09/11/2015         162
1817  06/08/2018         153
1818  06/18/2016         141
1819  05/04/2019         123
1820  07/30/2018         180
1821  11/19/2015         159
1822  09/02/2015         131
1823  06/16/2015         132
1824  08/11/2017         145
1825  07/25/2016         148

[1826 rows x 2 columns]

In [45]:
date_total.isnull().values.any()

False

In [46]:
modes = date.groupby("CrimeDate")["Description"].agg(pd.Series.mode).to_frame()

In [47]:
modes["Year"] = date.groupby("CrimeDate")["year"].agg(pd.Series.mode).to_frame()
modes["Month"] = date.groupby("CrimeDate")["month"].agg(pd.Series.mode).to_frame()
modes["Day"] = date.groupby("CrimeDate")["day"].agg(pd.Series.mode).to_frame()

In [48]:
modes["ViolentCount"] = date.groupby("CrimeDate")["Violent"].agg(['sum'])
modes["NonViolentCount"] = date.groupby("CrimeDate")["Theft"].agg(['sum'])

In [49]:
modes["Temperature"] = date.groupby("CrimeDate")["TAVG"].agg(pd.Series.mode).to_frame()
modes["Percipitation"] = date.groupby("CrimeDate")["PRCP"].agg(pd.Series.mode).to_frame()
modes["Snow"] = date.groupby("CrimeDate")["SNOW"].agg(pd.Series.mode).to_frame()
modes["SnowDepth"] = date.groupby("CrimeDate")["SNWD"].agg(pd.Series.mode).to_frame()
modes["Unemployment"] = date.groupby("CrimeDate")["Baltimore.City.Unemployment.Percent"].agg(pd.Series.mode).to_frame()

In [50]:
#modes["Weapon"] = baltimore.groupby("CrimeDate")["Weapon"].agg(pd.Series.mode).to_frame()
modes["Larceny"] = date.groupby("CrimeDate")["LARCENY"].agg(['sum'])
modes["AutoTheft"] = date.groupby("CrimeDate")["AUTO THEFT"].agg(['sum'])
modes["Assault"] = date.groupby("CrimeDate")["ASSAULT"].agg(['sum'])
modes["Burglary"] = date.groupby("CrimeDate")["BURGLARY"].agg(['sum'])
modes["Robbery"] = date.groupby("CrimeDate")["ROBBERY"].agg(['sum'])
modes["Arson"] = date.groupby("CrimeDate")["ARSON"].agg(['sum'])
modes["Homicide"] = date.groupby("CrimeDate")["HOMICIDE"].agg(['sum'])
modes["Rape"] = date.groupby("CrimeDate")["RAPE"].agg(['sum'])
modes["Shooting"] = date.groupby("CrimeDate")["SHOOTING"].agg(['sum'])

In [51]:
modes["Dawn"] = date.groupby("CrimeDate")["Dawn"].agg(['sum'])
modes["Morning/Noon"] = date.groupby("CrimeDate")["Morning/Noon"].agg(['sum'])
modes["Night"] = date.groupby("CrimeDate")["Night"].agg(['sum'])
modes["Evening"] = date.groupby("CrimeDate")["Evening"].agg(['sum'])
modes["Early morning"] = date.groupby("CrimeDate")["Early morning"].agg(['sum'])
modes["Afternoon"] = date.groupby("CrimeDate")["Afternoon"].agg(['sum'])

In [52]:
modes.head()

,Description,Year,Month,Day,ViolentCount,NonViolentCount,Temperature,Percipitation,Snow,SnowDepth,...,Arson,Homicide,Rape,Shooting,Dawn,Morning/Noon,Night,Evening,Early morning,Afternoon
CrimeDate,,,,,,,,,,,,,,,,,,,,,
01/01/2015,LARCENY,2015,1,1,51,109,29,0.00,0.0,0.0,...,1,0,2,2,0,21,13.0,31,9,34
01/01/2016,LARCENY,2016,1,1,45,108,41,0.00,0.0,0.0,...,2,1,1,3,0,21,11.0,34,7,38
01/01/2017,ASSAULT,2017,1,1,65,90,46,0.00,0.0,0.0,...,0,2,6,2,0,19,13.0,21,15,29
01/01/2018,ASSAULT,2018,1,1,50,74,13,0.00,0.0,0.0,...,2,2,5,2,0,13,5.0,24,12,36
01/01/2019,ASSAULT,2019,1,1,63,83,54,0.03,0.0,0.0,...,0,2,2,2,0,15,19.0,31,5,25

In [53]:
date_filled = pd.merge(date_total, modes, left_on='CrimeDate', right_on='CrimeDate', how='inner')

In [54]:
date_filled.head()

,CrimeDate,TotalCrime,Description,Year,Month,Day,ViolentCount,NonViolentCount,Temperature,Percipitation,...,Arson,Homicide,Rape,Shooting,Dawn,Morning/Noon,Night,Evening,Early morning,Afternoon
0,03/09/2016,102,LARCENY,2016,3,9,28,74,62,0.00,...,0,0,0,0,0,15,8.0,23,13,28
1,01/24/2015,123,LARCENY,2015,1,24,31,92,35,0.62,...,2,1,0,0,0,15,12.0,31,6,34
2,01/20/2017,205,LARCENY,2017,1,20,53,152,38,0.02,...,1,2,1,4,0,36,17.0,49,14,54
3,08/09/2018,152,LARCENY,2018,8,9,54,98,80,0.00,...,1,3,2,5,0,19,19.0,35,15,32
4,09/29/2018,141,ASSAULT,2018,9,29,58,83,67,0.00,...,0,2,1,2,0,20,25.0,23,5,29

In [55]:
date_filled = date_filled.sort_values(by=['Year', 'Month', 'Day'])

In [56]:
date_filled = date_filled.drop(columns=['Description'])

In [57]:
date_filled[date_filled.TotalCrime >= 200]

,CrimeDate,TotalCrime,Year,Month,Day,ViolentCount,NonViolentCount,Temperature,Percipitation,Snow,...,Arson,Homicide,Rape,Shooting,Dawn,Morning/Noon,Night,Evening,Early morning,Afternoon
980,04/27/2015,421,2015,4,27,102,319,50,0.00,0.0,...,10,0,1,0,0,31,62.0,121,23,155
1064,06/05/2016,255,2016,6,5,41,214,75,0.33,0.0,...,2,0,1,2,0,9,15.0,39,10,23
2,01/20/2017,205,2017,1,20,53,152,38,0.02,0.0,...,1,2,1,4,0,36,17.0,49,14,54
422,10/25/2017,201,2017,10,25,48,153,57,0.00,0.0,...,0,0,0,6,0,30,13.0,42,27,49
986,12/20/2018,212,2018,12,20,35,177,35,0.78,0.0,...,0,0,2,2,0,18,8.0,33,21,30

### Most Recent Data (No Weather Data)

This code exists for the simplicity of getting a time series file. It makes it easy to read in the latest data.

In [63]:
#Import the data - Crime Date has imported straight from the source
baltimoreDate = pd.read_csv("BPD_Part_1_Victim_Based_Crime_Data_April18th2020.csv")

/home/csimmons1/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [64]:
date_total2 = baltimoreDate.CrimeDate.value_counts(sort=False)

In [65]:
date_total2 = date_total2.rename_axis('CrimeDate').reset_index(name='TotalCrime')
date_total2

       CrimeDate  TotalCrime
0     03/09/2016         102
1     03/07/2020          97
2     01/24/2015         123
3     01/20/2017         205
4     08/09/2018         152
5     09/29/2018         141
6     05/23/2000           1
7     06/29/2014         121
8     03/08/2017         134
9     10/26/2017         143
10    07/24/2019         153
11    11/21/2014         135
12    04/23/2017         152
13    11/02/2016         156
14    03/15/2019         114
15    04/15/2020          65
16    07/31/2016         128
17    07/22/2019         166
18    01/28/2014          95
19    05/10/2017         138
20    03/17/2015         144
21    07/11/2014         137
22    02/07/2020         121
23    06/04/2016         152
24    10/30/2018         139
25    07/23/2016         110
26    12/11/2015         151
27    03/20/2018         103
28    04/15/2015         133
29    03/13/2014         102
...          ...         ...
2340  02/27/2017         116
2341  11/23/2019          99
2342  07/26/2016         138
2343  03/31/2018         119
2344  03/07/2015          83
2345  01/06/2015          87
2346  04/12/2019         128
2347  03/18/2015         112
2348  07/25/2014         153
2349  01/09/2014         131
2350  03/08/2016         112
2351  08/04/2016         130
2352  02/26/2017         100
2353  07/03/2016         138
2354  11/14/2019         134
2355  12/10/2015         155
2356  09/11/2015         162
2357  04/04/2014         138
2358  07/09/2014         142
2359  06/08/2018         153
2360  06/18/2016         141
2361  05/04/2019         124
2362  07/30/2018         180
2363  11/19/2015         159
2364  09/02/2015         131
2365  06/16/2015         132
2366  06/09/2014         148
2367  06/01/2012           3
2368  08/11/2017         145
2369  07/25/2016         148

[2370 rows x 2 columns]

In [61]:
# Convert CrimeDate to a datetime 
date_total2['CrimeDate'] =pd.to_datetime(date_total2.CrimeDate)

In [62]:
# Sort by the Date 
recentdate = date_total2.sort_values(by='CrimeDate')[435:]

# Export the CSV

In [277]:
baltimore.columns

Index(['month', 'year', 'day', 'CrimeDate', 'CrimeTime', 'CrimeCode',
       'Location', 'Description', 'Inside.Outside', 'Weapon', 'Post',
       'District', 'Neighborhood', 'Longitude', 'Latitude', 'Premise', 'PRCP',
       'SNOW', 'SNWD', 'TAVG', 'Baltimore.City.Unemployment.Percent',
       'Violent', 'Theft', 'CrimeType', 'Hour', 'DayPart', 'LARCENY',
       'ROBBERY', 'ASSAULT', 'BURGLARY', 'SHOOTING', 'AUTO THEFT', 'HOMICIDE',
       'RAPE', 'ARSON', 'Dawn', 'Early morning', 'Morning/Noon', 'Afternoon',
       'Evening', 'Night'],
      dtype='object')

In [278]:
baltimore = baltimore.drop(columns=['LARCENY',
       'ROBBERY', 'ASSAULT', 'BURGLARY', 'SHOOTING', 'AUTO THEFT', 'HOMICIDE',
       'RAPE', 'ARSON', 'Dawn', 'Early morning', 'Morning/Noon',
       'Afternoon', 'Evening', 'Night'])

In [279]:
baltimore = baltimore.rename(columns={"month": "Month", "year": "Year", "year": "Year", "day": "Day",
                          "Inside.Outside": "Inside", "PRCP": "Precipitation" , "SNOW": "Snow", "TAVG": "Tavg",
                         "SNWD": "SnowDepth", "Baltimore.City.Unemployment.Percent": "Unemployment"})

In [280]:
baltimore.head(1)

,Month,Year,Day,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside,Weapon,...,Precipitation,Snow,SnowDepth,Tavg,Unemployment,Violent,Theft,CrimeType,Hour,DayPart
10,1,2015,1,01/01/2015,0:01:00,6J,1100 GORSUCH AVE,LARCENY,Inside,NaN,...,0.0,0.0,0.0,29,8.7,0,1,0,0,Dawn

In [281]:
baltimore.columns

Index(['Month', 'Year', 'Day', 'CrimeDate', 'CrimeTime', 'CrimeCode',
       'Location', 'Description', 'Inside', 'Weapon', 'Post', 'District',
       'Neighborhood', 'Longitude', 'Latitude', 'Premise', 'Precipitation',
       'Snow', 'SnowDepth', 'Tavg', 'Unemployment', 'Violent', 'Theft',
       'CrimeType', 'Hour', 'DayPart'],
      dtype='object')

In [282]:
#export_csv = baltimore.to_csv(r'baltimore_cleaned.csv', index = None, header=True)

In [159]:
date_filled['Night'] = date_filled['Night'].astype(int)

In [168]:
date_filled = date_filled.rename(columns={"Morning/Noon": "Morning_Noon"})
# Rename Precipitation
date_filled = date_filled.rename(columns={"Percipitation": "Precipitation"})

In [169]:
date_filled.head()

,CrimeDate,TotalCrime,Year,Month,Day,ViolentCount,NonViolentCount,Temperature,Precipitation,Snow,...,Arson,Homicide,Rape,Shooting,Dawn,Morning_Noon,Night,Evening,Early morning,Afternoon
574,01/01/2015,160,2015,1,1,51,109,29,0.00,0.0,...,1,0,2,2,0,21,13,31,9,34
1790,01/02/2015,108,2015,1,2,11,97,37,0.00,0.0,...,0,0,1,0,0,16,6,24,11,37
323,01/03/2015,74,2015,1,3,23,51,33,0.58,0.0,...,2,3,0,1,0,14,5,23,4,14
1362,01/04/2015,96,2015,1,4,23,73,47,0.21,0.0,...,0,2,0,0,0,5,12,37,3,27
100,01/05/2015,122,2015,1,5,24,98,42,0.00,0.0,...,0,1,1,0,0,16,6,33,17,27

In [170]:
export_csv = date_filled.to_csv (r'baltimore_daily_cleaned.csv', index = None, header=True)

In [28]:
export_csv = recentdate.to_csv (r'baltimore_daily_cleaned_April18th2020.csv', index = None, header=True)