# Baltimore Crime - Data Cleaning

### Import the Data

In [1]:
import pandas as pd
import numpy as np
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Data Cleaning

In [22]:
#Import the data 
baltimore = pd.read_csv("BPD_Part_1_Victim_Based_Crime_Data.csv")

In [19]:
# Change Varible types for Error Above
#baltimore = baltimore.astype({'Weapon': 'object'}).dtypes

In [20]:
#baltimore['Time'] = baltimore.CrimeDate + " " + baltimore.CrimeTime
#baltimore['Time'] = pd.to_datetime(baltimore['Time'], format='%m/%d/%Y %H:%M:%S')

In [23]:
baltimore.dtypes

CrimeDate           object
CrimeTime           object
CrimeCode           object
Location            object
Description         object
Inside/Outside      object
Weapon              object
Post                object
District            object
Neighborhood        object
Longitude          float64
Latitude           float64
Location 1         float64
Premise             object
vri_name1           object
Total Incidents      int64
dtype: object

In [24]:
baltimore.head(1)

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,vri_name1,Total Incidents
0,1/25/2020,17:00:00,6E,100 N ROCK GLEN RD,LARCENY,O,NaN,823,SOUTHWEST,TEN HILLS,-76.701918,39.284825,NaN,STREET,NaN,1

In [25]:
baltimore.shape

(291195, 16)

In [26]:
baltimore.shape

(291195, 16)

In [29]:
#Check for duplicates
baltimore[baltimore.duplicated()].shape
#Remove the duplicates - ??? 
baltimore[baltimore.duplicated()].head(25)

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,vri_name1,Total Incidents
85,1/24/2020,14:00:00,6G,1400 POINT ST,LARCENY,I,NaN,213,SOUTHEAST,NaN,-76.597596,39.280307,NaN,OTHER - INSIDE,NaN,1
86,1/24/2020,14:00:00,6G,1400 POINT ST,LARCENY,I,NaN,213,SOUTHEAST,NaN,-76.597596,39.280307,NaN,OTHER - INSIDE,NaN,1
112,1/24/2020,18:50:56,9S,3000 E FAYETTE ST,SHOOTING,Outside,FIREARM,232,SOUTHEAST,NaN,-76.574872,39.294770,NaN,STREET,NaN,1
121,1/24/2020,14:00:00,6G,1400 POINT ST,LARCENY,I,NaN,213,SOUTHEAST,NaN,-76.597596,39.280307,NaN,OTHER - INSIDE,NaN,1
138,1/24/2020,23:57:00,6J,900 EDMONDSON AVE,LARCENY,O,NaN,713,WESTERN,HARLEM PARK,-76.633364,39.295548,NaN,STREET,Central,1
142,1/24/2020,23:24:00,3JK,5000 E EAGER ST,ROBBERY - RESIDENCE,I,KNIFE,433,NORTHEAST,ARMISTEAD GARDENS,-76.554157,39.304584,NaN,ROW/TOWNHOUSE-OCC,NaN,1
167,1/24/2020,19:04:00,3AF,5900 CLOVER RD,ROBBERY - STREET,O,FIREARM,632,NORTHWEST,GLEN,-76.686830,39.356494,NaN,STREET,NaN,1
172,1/24/2020,22:50:00,4C,1000 HILLEN ST,AGG. ASSAULT,I,OTHER,324,EASTERN,OLDTOWN,-76.607353,39.295442,NaN,MOBILE HOME,NaN,1
228,1/23/2020,12:24:00,4C,2600 PENNSYLVANIA AVE,AGG. ASSAULT,O,OTHER,733,WESTERN,PENN NORTH,-76.644000,39.311240,NaN,STREET,Western,1
235,1/23/2020,2:13:00,4E,1600 THAMES ST,COMMON ASSAULT,O,NaN,213,SOUTHEAST,FELLS POINT,-76.594985,39.281007,NaN,STREET,NaN,1
242,1/23/2020,1:10:00,5A,2400 WASHINGTON BLVD,BURGLARY,I,NaN,831,SOUTHWEST,MORRELL PARK,-76.651747,39.267236,NaN,ROW/TOWNHOUSE-VAC,NaN,1
292,1/22/2020,10:45:00,4E,1600 W NORTH AVE,COMMON ASSAULT,O,NaN,733,WESTERN,PENN NORTH,-76.643275,39.309950,NaN,STREET,Western,1
305,1/22/2020,14:59:00,4E,6100 CARDIFF AVE,COMMON ASSAULT,O,NaN,231,SOUTHEAST,MEDFORD,-76.543555,39.276328,NaN,STREET,NaN,1
308,1/22/2020,16:35:00,4E,2000 N WOLFE ST,COMMON ASSAULT,NaN,NaN,312,EASTERN,SOUTH CLIFTON PARK,-76.591728,39.313212,NaN,NaN,Eastern 1,1
345,1/21/2020,NaN,1A,1200 N BENTALOU ST,HOMICIDE,Outside,FIREARM,723,WESTERN,NaN,-76.653691,39.301793,NaN,STREET,NaN,1
474,1/20/2020,22:35:00,4C,1500 N DECKER AVE,AGG. ASSAULT,NaN,OTHER,332,EASTERN,BEREA,-76.574784,39.308410,NaN,NaN,NaN,1
519,1/19/2020,8:16:00,4E,3600 SEVEN MILE LN,COMMON ASSAULT,NaN,NaN,631,NORTHWEST,FALLSTAFF,-76.708072,39.367077,NaN,NaN,NaN,1
520,1/19/2020,8:16:00,4E,3600 SEVEN MILE LN,COMMON ASSAULT,NaN,NaN,631,NORTHWEST,FALLSTAFF,-76.708072,39.367077,NaN,NaN,NaN,1
521,1/19/2020,17:53:00,4E,2200 BRYANT AVE,COMMON ASSAULT,NaN,NaN,732,WESTERN,WOODBROOK,-76.649207,39.316394,NaN,NaN,Western,1
545,1/19/2020,22:09:00,4E,3400 MAYFIELD AVE,COMMON ASSAULT,NaN,NaN,432,NORTHEAST,BELAIR-EDISON,-76.569830,39.320445,NaN,NaN,Northeastern,1
547,1/19/2020,0:08:00,4C,AV & CORNWALL ST,AGG. ASSAULT,O,OTHER,232,SOUTHEAST,NaN,-76.544698,39.287520,NaN,STREET,NaN,1
563,1/19/2020,14:30:00,4E,200 STONECROFT RD,COMMON ASSAULT,NaN,NaN,823,SOUTHWEST,WESTGATE,-76.707332,39.280569,NaN,NaN,NaN,1
587,1/18/2020,2:45:00,3AF,1400 ANGLESEA ST,ROBBERY - STREET,O,FIREARM,231,SOUTHEAST,MEDFORD,-76.545652,39.277757,NaN,STREET,NaN,1
590,1/18/2020,2:10:00,3AK,3000 MARDEL AVE,ROBBERY - STREET,I,KNIFE,923,SOUTHERN,LAKELAND,-76.654158,39.255961,NaN,ROW/TOWNHOUSE-OCC,NaN,1
610,1/18/2020,21:17:00,6D,4400 BELAIR RD,LARCENY FROM AUTO,O,NaN,422,NORTHEAST,FRANKFORD,-76.563059,39.329944,NaN,STREET,NaN,1

In [30]:
n_records = len(baltimore)
def duplicate_values_col(df):
    for column in df:
        column_counts = df[column].value_counts()
        most_common = column_counts.iloc[0]
        least_common = column_counts.iloc[-1]
        print("{}({}) | COMMON: {:.2f}%| UNCOMMON:{} observation/s".format(
            df[column].name,
            df[column].dtype,
            100 * most_common / (1.0 * n_records),
            least_common,
        ))

duplicate_values_col(baltimore)

CrimeDate(object) | COMMON: 0.14%| UNCOMMON:1 observation/s
CrimeTime(object) | COMMON: 2.31%| UNCOMMON:1 observation/s
CrimeCode(object) | COMMON: 16.40%| UNCOMMON:1 observation/s
Location(object) | COMMON: 0.29%| UNCOMMON:1 observation/s
Description(object) | COMMON: 22.37%| UNCOMMON:1270 observation/s
Inside/Outside(object) | COMMON: 44.01%| UNCOMMON:655 observation/s
Weapon(object) | COMMON: 9.92%| UNCOMMON:1270 observation/s
Post(object) | COMMON: 1.37%| UNCOMMON:1 observation/s
District(object) | COMMON: 15.11%| UNCOMMON:348 observation/s
Neighborhood(object) | COMMON: 3.18%| UNCOMMON:1 observation/s
Longitude(float64) | COMMON: 0.23%| UNCOMMON:1 observation/s
Latitude(float64) | COMMON: 0.23%| UNCOMMON:1 observation/s

IndexError: single positional indexer is out-of-bounds

In [31]:
def cardinality_categorical(df):
    n_records = len(df)
    for column in df.select_dtypes([object]):
        print("{} | uniques/records: {:.3f} | Minimum observations: {:.3f}".format(
            column, 
            len(df[column].unique())/n_records,
            df[column].value_counts().min()
        ))        

cardinality_categorical(baltimore)

CrimeDate | uniques/records: 0.008 | Minimum observations: 1.000
CrimeTime | uniques/records: 0.005 | Minimum observations: 1.000
CrimeCode | uniques/records: 0.000 | Minimum observations: 1.000
Location | uniques/records: 0.093 | Minimum observations: 1.000
Description | uniques/records: 0.000 | Minimum observations: 1270.000
Inside/Outside | uniques/records: 0.000 | Minimum observations: 655.000
Weapon | uniques/records: 0.000 | Minimum observations: 1270.000
Post | uniques/records: 0.001 | Minimum observations: 1.000
District | uniques/records: 0.000 | Minimum observations: 348.000
Neighborhood | uniques/records: 0.001 | Minimum observations: 1.000
Premise | uniques/records: 0.000 | Minimum observations: 2.000
vri_name1 | uniques/records: 0.000 | Minimum observations: 2461.000

In [32]:
n_records = len(baltimore)
def missing_values_df(df):
    for column in df:
        print("{} | {} | {}".format(
            column, len(df[df[column].isnull()]) / (1.0*n_records), df[column].dtype
        ))

missing_values_df(baltimore)

CrimeDate | 0.0 | object
CrimeTime | 9.958962207455486e-05 | object
CrimeCode | 0.0 | object
Location | 0.004560517866034787 | object
Description | 0.0 | object
Inside/Outside | 0.11498480399732139 | object
Weapon | 0.7898727656724875 | object
Post | 0.008083930012534556 | object
District | 0.0 | object
Neighborhood | 0.03614073043836604 | object
Longitude | 0.005546111712082968 | float64
Latitude | 0.005546111712082968 | float64
Location 1 | 1.0 | float64
Premise | 0.11585020347190027 | object
vri_name1 | 0.8818764058448806 | object
Total Incidents | 0.0 | int64

In [33]:
from scipy import stats
import numpy as np

def outliers_col(df):
    for column in df:
        if df[column].dtype != np.object:
            n_outliers = len(df[(np.abs(stats.zscore(df[column])) > 3)& \
                  (df[column].notnull())
                 ])
            print("{} | {} | {}".format(
                df[column].name,
                n_outliers,
                df[column].dtype
        ))

outliers_col(baltimore)

Longitude | 0 | float64
Latitude | 0 | float64
Location 1 | 0 | float64
Total Incidents | 0 | int64

/home/csimmons1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in greater
  import sys
/home/csimmons1/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:2281: RuntimeWarning: invalid value encountered in true_divide
  return (a - mns) / sstd

In [35]:
baltimore.Description.unique()

array(['LARCENY', 'ROBBERY - STREET', 'BURGLARY', 'SHOOTING',
       'COMMON ASSAULT', 'AGG. ASSAULT', 'ROBBERY - RESIDENCE',
       'ROBBERY - CARJACKING', 'LARCENY FROM AUTO', 'AUTO THEFT',
       'ROBBERY - COMMERCIAL', 'HOMICIDE', 'RAPE', 'ARSON'], dtype=object)

## Variable Grouping

### Dummy Variables

In [41]:
VIOLENT1 = ['ATTEMPTED RAPE','ATTEMPTED MURDER', 'SHOOTING']

baltimore['Violent'] = 0
baltimore.loc[baltimore['Description'].isin(VIOLENT1), 
             'Violent'] = 1

In [43]:
THEFT1 = ['LARCENY', 'ROBBERY - STREET', 'BURGLARY', 'ROBBERY - RESIDENCE',
       'ROBBERY - CARJACKING', 'LARCENY FROM AUTO', 'AUTO THEFT',
       'ROBBERY - COMMERCIAL']

baltimore['Theft'] = 0
baltimore.loc[baltimore['Description'].isin(THEFT1), 'Theft'] = 1

In [44]:
baltimore.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,vri_name1,Total Incidents,Violent,Theft
0,1/25/2020,17:00:00,6E,100 N ROCK GLEN RD,LARCENY,O,NaN,823,SOUTHWEST,TEN HILLS,-76.701918,39.284825,NaN,STREET,NaN,1,0,1
1,1/25/2020,2:24:00,3B,2700 ATKINSON AVE,ROBBERY - STREET,O,NaN,511,NORTHERN,REMINGTON,-76.623981,39.318897,NaN,STREET,NaN,1,0,1
2,1/25/2020,0:00:00,5D,3200 PARKSIDE DR,BURGLARY,O,NaN,422,NORTHEAST,ARCADIA,-76.572297,39.334110,NaN,SHED/GARAGE,NaN,1,0,1
3,1/25/2020,13:00:00,3AO,800 LINDEN AVE,ROBBERY - STREET,O,OTHER,124,CENTRAL,DOWNTOWN,-76.620828,39.298814,NaN,STREET,NaN,1,0,1
4,1/25/2020,1:55:00,3AK,1800 ORLEANS ST,ROBBERY - STREET,O,KNIFE,321,EASTERN,DUNBAR,-76.591316,39.295329,NaN,STREET,NaN,1,0,1

## Graphics

## Make Data Table

In [55]:
date_total = baltimore.CrimeDate.value_counts(sort=False)

In [56]:
date = date_total.rename_axis('CrimeDate').reset_index(name='TotalCrime')
date

       CrimeDate  TotalCrime
0      12/2/2017         118
1      5/25/2017         154
2     11/26/2014         130
3       8/6/2014         143
4     11/25/2016         133
5      7/29/2015         135
6     11/18/2018         149
7       9/6/2017         114
8      6/12/2017         158
9      8/30/2016         141
10      4/3/2015         128
11    12/20/2015         139
12      4/8/2019         127
13      2/7/2017         124
14     1/13/2019          82
15     10/9/2019         117
16      9/7/2015         164
17     1/31/2016         105
18     1/27/2016          90
19      4/4/2018         115
20      7/1/2011           1
21     11/7/2015         119
22     9/14/2019         157
23     11/9/2015         127
24    10/22/2018         125
25     2/19/2017         109
26     10/8/2015         123
27      8/4/2019         111
28      7/6/2017         142
29     6/19/2014         134
...          ...         ...
2255    4/6/2018         154
2256    2/4/2019         117
2257   5/24/2016         154
2258    1/7/2018         102
2259   6/18/2017         158
2260    9/6/2019         118
2261   1/17/2018          96
2262   6/22/2017         125
2263   8/13/2015         141
2264    2/5/2015         107
2265  12/25/2018          97
2266   3/30/2015         115
2267  12/31/2015          99
2268    3/2/2017         109
2269   8/17/2015         143
2270  11/29/2015         110
2271    5/6/2014         137
2272    5/7/2014         133
2273    8/9/2017         146
2274   9/17/2008           1
2275   6/21/2015         151
2276   7/11/2018         107
2277   5/28/2017         122
2278  11/14/2018         138
2279   11/2/2013           1
2280   5/31/2018         122
2281  10/24/2017         139
2282   4/28/2015         184
2283   9/23/2018         121
2284   8/16/2018         149

[2285 rows x 2 columns]

In [58]:
date.isnull().values.any()

False

In [71]:
modes = baltimore.groupby("CrimeDate")["Description"].agg(pd.Series.mode).to_frame()

In [72]:
modes["Weapon"] = baltimore.groupby("CrimeDate")["Weapon"].agg(pd.Series.mode).to_frame()

In [84]:
modes["Weapon"] = baltimore.groupby("CrimeDate")["Weapon"].agg(pd.Series.mode).value_count

AttributeError: 'Series' object has no attribute 'value_count'

In [77]:
modes.head()

          Description Weapon
CrimeDate
1/1/1978         RAPE  OTHER
1/1/1985         RAPE  OTHER
1/1/1993         RAPE  OTHER
1/1/1998         RAPE  OTHER
1/1/1999         RAPE  OTHER

In [74]:
date_filled = pd.merge(date, modes, left_on='CrimeDate', right_on='CrimeDate', how='inner')

In [75]:
date_filled.head()

    CrimeDate  TotalCrime                 Description            Weapon
0   12/2/2017         118                     LARCENY           FIREARM
1   5/25/2017         154                    BURGLARY  [FIREARM, OTHER]
2  11/26/2014         130                    BURGLARY           FIREARM
3    8/6/2014         143                     LARCENY           FIREARM
4  11/25/2016         133  [BURGLARY, COMMON ASSAULT]           FIREARM

In [85]:
date.sort_values(by=['CrimeDate'])

      CrimeDate  TotalCrime
842    1/1/1978           1
1946   1/1/1985           1
1620   1/1/1993           2
756    1/1/1998           1
723    1/1/1999           1
942    1/1/2000           1
996    1/1/2001           1
1565   1/1/2003           1
109    1/1/2004           1
1842   1/1/2007           1
717    1/1/2008           1
2132   1/1/2009           2
557    1/1/2010           2
997    1/1/2011           2
440    1/1/2012           1
1075   1/1/2013           4
520    1/1/2014         137
419    1/1/2015         160
94     1/1/2016         153
1376   1/1/2017         155
613    1/1/2018         124
2174   1/1/2019         146
686    1/1/2020         113
1486  1/10/2014         141
172   1/10/2015          84
679   1/10/2016         118
30    1/10/2017         169
32    1/10/2018         138
1803  1/10/2019         125
917   1/10/2020         127
...         ...         ...
551    9/5/2014         145
494    9/5/2015         147
552    9/5/2016         131
203    9/5/2017         124
45     9/5/2018         135
2014   9/5/2019         140
476    9/6/2014         142
951    9/6/2015         139
1828   9/6/2016         143
7      9/6/2017         114
1925   9/6/2018         133
2260   9/6/2019         118
1425   9/7/2014         127
16     9/7/2015         164
778    9/7/2016         160
82     9/7/2017         130
639    9/7/2018         155
1228   9/7/2019         125
1244   9/8/2014         120
930    9/8/2015         133
672    9/8/2016         131
1628   9/8/2017         149
2036   9/8/2018         106
142    9/8/2019         152
496    9/9/2014         120
392    9/9/2015         140
1326   9/9/2016         151
909    9/9/2017         144
202    9/9/2018         109
787    9/9/2019         123

[2285 rows x 2 columns]

### Export the CSV

In [ ]:
export_csv = subset.to_csv (r'baltimore.csv', index = None, header=True)